.event-wrapper {
  position: absolute;
  left: 0px;
  right: 20px;
  display: flex;
}

.event {
  flex: 1;
}

.todo-wrapper {
  margin-bottom: 8px;
}

/* The styles applied to an event that is being dragged; not the one moving
   the old one left behind. */
.dragging {
  opacity: 0.5;
}
